doctype 5
html(lang="en")
    head
        title LawlChatz

        script(type= "text/javascript", src="/socket.io/socket.io.js")
        script(type= "text/javascript", src="/jquery/jquery.js")
    
    body
        h1 LawlChatz
        div(id="sign_in")
            table
                tr 
                    th Username: 
                    td
                        input(type='text', name='username', id='username')
                tr
                    th Chatroom: 
                    td
                        input(type='text', name='room', id='room')
            input(type='submit', name='testsubmitbutton', onclick='join_room()')
        div(id='chatroom', style='display:none;')
        div(id='enter_text', style='display:none;')
            input(type='text', name='message_text', id='message_text')
            input(type='submit', id='send_message', value='Send Message', onclick='send_message()')

    script(type= "text/javascript")
        var socket = io.connect();
        var render_chatroom = function (chatroom) {
            chatroomTable = "<h3>"+chatroom.name+"</h3><table id=chats>";
            for (index in chatroom.messages) {
                var message = chatroom.messages[index];
                chatroomTable += message_to_table_row(message)
            }
            chatroomTable += "</table>";
            console.log(chatroomTable);
            $("#chatroom").html(chatroomTable);
            $("#chatroom").show();
            $("#enter_text").show();
        }

        var join_room = function () {
            console.log("join_room called");
            $("#sign_in").hide();
            var room = $('#room').val();
            var username = $('#username').val();
            socket.emit('join_room', { 'room': room, 'username': username});
        }

        var message_to_table_row = function (message) {
            return "<tr><th>"+message.user+":</th><td>"+message.lollifiedText+"</td><td><img src='"+message.url+"'/></tr>";
        }

        socket.on('chatroom', function (chatroom) {
            render_chatroom(chatroom);
        });

        var send_message = function () {
            var messageText = $("#message_text").val();
            if (messageText == '') { return; }
            else {
                socket.emit('enter_message', { 'messageText': messageText });
            }
        }

        socket.on('confirm_join', function (confirmation) {
            if (confirmation.confirmed) {
                console.log("Joined room "+confirmation.room+" with name "+confirmation.username);
            }
        });

        socket.on('new_message', function (message) {
            console.log("Message"+message);
            $("#chats").append(message_to_table_row(message));
        });
