doctype 5
html(lang="en")
    head
        title LawlChats

        script(type= "text/javascript", src="/socket.io/socket.io.js")
        script(type= "text/javascript", src="/jquery/jquery.js")
    
    body
        h1 LawlChat
        table
            tr 
                th Username: 
                td
                    input(type='text', name='username', id='username')
            tr
                th Chatroom: 
                td
                    input(type='text', name='room', id='room')
        input(type='submit', name='testsubmitbutton', onclick='join_room()')
        div(name='chatroom', style='display:none;')

    script(type= "text/javascript")
        var socket = io.connect();
        var render_chatroom = function (chatroom) {
            chatroomTable = "<table id=chats>";
            for (line in chatroom.messagesObjectArray) {
                chatroomTable += "<tr><th>"+line.username+"</th><td>"+line.message_text+"</td></tr>";
            }
            chatroomTable += "</table>";
            console.log(chatroomTable);
            $("#chatroom").html(chatroomTable);
        }

        $('#join_form').submit(function (e) {
            e.preventDefaults();
        });

        var join_room = function () {
            console.log("join_room called");
            var room = $('#room').val()
            var username = $('#username').val()
            socket.emit('join_room', { 'room': room, 'username': username});
        }

        socket.on('chatroom', function (chatroom) {
            render_chatroom(chatroom);
        }); 

        socket.on('confirm_join', function (confirmation) {
            if (confirmation.confirmed) {
                console.log("Joined room "+confirmation.room+" with name "+confirmation.username);
            }
        });
