doctype 5
html(lang="en")
	head
		title= LawlChats
		script(type='text/javascript')
			function junk() {
			}
	body
		h1 LawlChats
		form(name='testsubmit', action='javascript:junk()', method='get')
			input(type='text', name='testinput')
